.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  background: lemonchiffon;
  height: 100px;
}

.search h1 {
  display: contents;
}

.from {
  display: flex;
  justify-content: center;
  margin: 50px;
  margin-bottom: 30px;
}

.card {
  display: flex;
  justify-content: center;
}

.hover-card p:hover {
  color:  #4183C4;
}


.flex {
  display: flex;
  align-items: center;
  justify-content: center;

}
.flex-like {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.is-loading {
  position: absolute;
    right: 50%;
    top: 14%;
    z-index: 1;
}

.absolute {
  position: absolute;
    top: 15%;
    left: 2%;

}